<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
    
	<!-- Will load the templates for the hello and favourite here -->
      #parse( $view )
    
    </div>
  </body>
</html>
